*{
    padding: 0;
    margin:0;
}
body{
    background-color: rgb(93,109,126);
}
.logo{
    position:absolute;
    width:50px;
    height: 50px;
    border-radius:50%;    
}
h1{
    box-sizing: border-box;
    position: relative;
    float: center;
    color:rgb(49, 61, 74);
    padding:40px;
    margin-bottom:150px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    
}

header{
    background: rgb(135, 156, 178);
    width:100%;
    height: 100px;
}
.contenido{
    padding: 40px 140px;
}
.logo1{
    width:200px;
    height: 200px;
    position:relative;
    float:right;
    margin-bottom: 40px;
    margin-left: 40px;

}

.menu{
    background: rgb(135, 156, 178);
    width: 100%;
    height: 100px;
    display:inline-block;
    text-align: center;
    list-style: none;
    padding: 2px;
    
    
}
ul li{
    display:inline-block;
}
ul a{
    text-decoration: none;
    color:rgb(37, 55, 73);
    background-color:rgb(102, 136, 169);
    font-size: 20px;
    display: inline-block;
    outline: none;
    display: inline-block;
    border-radius: 5px;
    padding: 1px 1px;
    margin:20px;
    font-family: 'Press Start 2P', cursive;
}
ul li a.activo{
    background-color: rgb(20, 91, 161);
    transform: none;
}
ul li a.registro{
    background-color:  rgb(20, 91, 161);
    transform: none;
}
ul li a.login{
    background-color: rgb(20, 91, 161);
    transform: none;
}
ul li a.buscar{
    background-color: rgb(20, 91, 161);
    transform: none;
}
ul li a.validar{
    background-color:rgb(20, 91, 161);
}
p{
    font-family: 'Press Start 2P', cursive;
}
.foot{
    text-align: center;
    background-color: rgb(102, 136, 169);
    font-family:"Press Start 2P", cursive;
    color:rgb(37, 55, 73);
}
menu ul li{
    display:flex;
    justify-content: space-between;
}
.logo2{
    text-align: center;
    width:200px;
    height: 200px;
    margin-left: 45%;
}
.contenido2{
    margin-left: 100px;
    display:inline-block;
}
.form-validation .bi{
    background-color: rgb(128, 204, 234);
}
.btn{
    padding: rgb(15, 72, 95);
    background-color: rgb(15, 72, 95);
}

.contenido{
    background-color: rgb(93,109,126);
    padding: 70px 140px 60px 140px;
    padding:250px;
}
.titulo{
    position:relative;
    float:center;
    text-align: center;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    margin-top: -150px;
}
.entrada{
    position:relative;
    font-family: 'Press Start 2P', cursive;
    margin-left: 25%;
}
.boton{
    font-family: 'Press Start 2P', cursive;
    margin-left: 25%;
}
.formulario .entrada:invalid{
    color: red;
}

.formulario .bi:valid{
    color: green;
}
.campo:valid+.icon{
    color:green;
}
.campo:invalid+.icon{
    color:red;
}
h2{
    text-align: center;
}
